# UART2 for NFC Reader
CONFIG_UART_ISR_IN_IRAM=y

# WiFi
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=10
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32

# TLS — set to y for dev (skip verify), n for prod (cert bundle)
CONFIG_SKIP_TLS_VERIFY=y

# WebSocket
CONFIG_WS_TRANSPORT_MAX_CONTROL_PAYLOAD_LEN=128

# NVS
CONFIG_NVS_ENCRYPTION=n

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
